{% extends "base.html" %}

{% block content %}
    <h1>Display Purchase Lots</h1>
    <table>
      <thead>
        <tr>
          <th>Lot Identifier</th>
          <th>Purchase Date</th>
          <th>Purchase Venue</th>
          <th>Origin Vendor</th>
          <th>Type</th>
          <th>Main Category</th>
          <th>Units Received</th>
          <th>Cost</th>
          <th>Total Cost</th>
          <th>Units Sold</th>
          <th>Gross Revenue</th>
          <th>Net Revenue</th>
          <th>Profit/Loss $</th>
          <th>Profit/Loss %</th>
          <th>Purchase Link</th>
        </tr>
    </thead>
    <tbody>
        {% for lot in purchase_lots %}
        <tr>
          <td>{{ lot.lot_identifier }}</td>
          <td>{{ lot.purchase_date }}</td>
          <td>{{ lot.purchase_venue }}</td>
          <td>{{ lot.origin_vendor }}</td>
          <td>{{ lot.type }}</td>
          <td>{{ lot.main_category }}</td>
          <td>{{ lot.units_received }}</td>
          <td>{{ lot.subtotal_cost }}</td>
          <td>{{ lot.total_purchase_cost }}</td>
          <td>{{ lot.unit_sold }}</td>
          <td>{{ lot.gross_revenue }}</td>
          <td>{{ lot.net_revenue }}</td>
          <td>{{ lot.profit_loss_dol }}</td>
          <td>{{ lot.profit_loss_per }}</td>
          <td>{{ lot.link_to_purchase_page }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
