<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Display Purchase Lots</title>
  </head>
  <body>
    <h1>Display Purchase Lots</h1>
    <table>
      <thead>
        <tr>
            <th>Purchase Date</th>
            <th>Purchase Venue</th>
            <th>Origin Vendor</th>
            <th>Lot SKU ID</th>
            <th>Cost</th>
            <th>Short Description
            <th>Main Category</th>
            <th>Venue Transaction Number</th>
        </tr>
    </thead>
    <tbody>
        {% for lot in purchase_lots %}
        <tr>
          <td>{{ lot.purchase_date }}</td>
          <td>{{ lot.purchase_venue }}</td>
          <td>{{ lot.origin_vendor }}</td>
          <td>{{ lot.lot_sku_id }}</td>
          <td>{{ lot.cost }}</td>
          <td>{{ lot.short_description }}</td>
          <td>{{ lot.main_category }}</td>
          <td>{{ lot.venue_transaction_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>
